@import url("./font.css");

:root {
    --light-color:#FFFFFF;
    --red-color: red;
}

/* BASIC CONF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* BASIC CONF */

/* UNIQUE */
.d-flex {
    display: flex;
}

.align__center {
    align-items: center;
}

.justify__between {
    justify-content: space-between;
}

.justify__around {
    justify-content: space-around;
}

.container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
/* UNIQUE */

/* HERO SCETION */
.hero {
    width: 100%;
    background: url("../images/images.jfif") no-repeat center/cover;
}

.hero__desc {
    padding: 20px 0 20px;
    height: 780px;
    color: var(--light-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__title {
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 40px;
}

.hero__title:hover {
    color: red;
    transition: 1s;
}

.hero__link {
    color: var(--light-color);
    font-size: 20px;
}

.hero__link:hover {
    color: red;
    transition: 1s;
}
/* HERO SCETION */

/* ABOUT SECTION */
.about__container {
    padding: 60px 0;
    width: 100%;
}

.grid__card {
    grid-gap: 30px 20px;
    display: grid;
    grid-template-columns: repeat(4, 235px);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    padding-bottom: 30px;
    height: 350px;
}

.card__img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.card__title {
    background: url(../images/card-one.jfif);
    text-align: center;
    color: var(--light-color);
}

.card h2:hover {
    color: red;
    transition: 1s;
}

/* ABOUT SECTION */
